/* elements */
body {
    --slateGray: #97a7a7;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--slateGray);
}

h1 {
    color: white;
}

h2 {
    font-size: 20px;
} 

ol li {
    border: 2px solid black;
    box-shadow: 5px 5px 5px gray;
    background-color: royalblue;
    color: white;
    block-size: fit-content;
    max-width: max-content;
    max-height: max-content;
    border-radius: 25px;
    padding: 10px;
}

    ol li:hover {
        opacity: 80%;
    }

    ol li:active {
        background-color: midnightblue;
    }

header {
    display: flex;
    justify-content: space-between;
}

    header div {
        margin: 5px;
        padding: 5px;
    }

button {
    border: 2px solid black;
    box-shadow: 5px 5px 5px gray;
    background-color: royalblue;
    color: white;
    block-size: fit-content;
    max-width: max-content;
    max-height: max-content;
    border-radius: 25px;
    padding: 10px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

    button:hover {
        opacity: 80%;
    }

    button:active {
        background-color: midnightblue;
    }